@charset "utf-8";
@use '../home/Home.scss';

.EditBook{
    width: 500px;
    margin-left: auto;
    margin-right: auto;

    &__button{
        background-color: #242f9b;
        color: #ffffff;
        width: 100px;
        height: 40px;
        border-radius: 5px;
        margin-left: 20%;
        cursor : pointer;    
    }

}

.edit_review{
    @extend .page;
}

.delete-button{
    background-color: #ff3333;
    color: #ffffff;
    width: 100px;
    height: 40px;
    margin-left: 23%;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor : pointer;    
}