@charset "utf-8";

.book_home_h1 {
  text-align: center;
}

.page {
  background-color: rgb(223, 235, 235);
  height: 100vh;
  overflow: auto;
}

.float_page {
  background-color: #ffffff;
}

.extend_float_page {
  @extend .float_page;
  border-radius: 3%;
  margin-left: 400px;
  margin-right: 200px;
}

.search {
  padding: 10px 0 15px 30%;

  &_input {
    height: 40px;
    width: 40%;
  }

  &_button {
    background-color: burlywood;
    position: relative;
    top: 1px;
    height: 45px;
    width: 45px;
  }
}

.Book__list {
  list-style-type: none; /* リストスタイルを無効にする */
  margin-left: 20%;
  &--link {
    border: solid;
    width: 70%;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 30px;
    border-radius: 5px;
    display: block;
    color: black;
    text-decoration: none;
  }
}

.pagenation {
  margin-left: 35%;

  &__button {
    height: 50px;
    width: 100px;
  }

  &__currentPage {
    height: 45px;
    width: 50px;
    pointer-events: none;
    text-align: right;
  }
}

.error-message {
  color: #ff3333;
}
