@charset "utf-8";

.search{
    margin-left: 35%;
    height: 50px;
    width: 400px;
}

.button{
    margin-left: 20px;
    height: 55px;
    width: 55px;
}

.Book__list{
    list-style-type: none; /* リストスタイルを無効にする */
    margin-left: 30%;
    
    &--link{
        border: solid;
        width: 80%;
        height: 100px;
        font-size: 30px;
        border-radius: 5px;
        display: block;
        text-decoration: none;
        color: #000000;
    }    
}


.pagenation{
    margin-left: 40%;

    &__button{
        height: 50px;
        width: 100px;
    }
    
    &__currentPage{
        height: 45px;
        width: 50px;
        pointer-events: none;
        text-align: right;
    }
    
}
