@charset "utf-8";

.page{
    background-color: rgb(223, 235, 235);
}

.float_page{
    background-color: aliceblue;
    border-radius: 3%;
    margin-left: 400px;
    margin-right: 200px;
}

.search{
    margin-left: 15%;
    height: 40px;
    width: 500px;
}

.button{
    margin-top: 10px;
    height: 45px;
    width: 45px;
    background-color: burlywood;
}

.Book__list{
    list-style-type: none; /* リストスタイルを無効にする */
    margin-left: 10%;
    
    &--link{
        border: solid;
        width: 80%;
        height: 100px;
        font-size: 30px;
        border-radius: 5px;
        display: block;
        text-decoration: none;
        color: #000000;
    }    
}


.pagenation{
    margin-left: 40%;

    &__button{
        height: 50px;
        width: 100px;
    }
    
    &__currentPage{
        height: 45px;
        width: 50px;
        pointer-events: none;
        text-align: right;
    }
    
}
