@charset "utf-8";
@use '../home/Home.scss';

.book_detail_h1 {
  text-align: center;
}

.detail-page {
  @extend .page;
}

.bookDetail {
  @extend .float_page;
  width: 55%;
  margin-left: 25%;
  margin-top: 40px;
  border-radius: 3%;

  &__title {
    width: 80%;
    padding-top: 10px;
    padding-left: 50px;
    font-size: 30px;
    font-weight: bold;
    word-break: auto-phrase;
  }

  &__url,
  &__reviewer,
  &__detail,
  &__review,
  &__link-edit-book {
    font-size: 20px;
    width: 70%;
    padding-left: 60px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
  }
}

.error-massage {
  color: #ff3333;
}

.comment_list {
  @extend .Book__list--link;
  font-size: 20px;
  height: 100%;
  background-color: aliceblue;
}
