@charset "utf-8";
@use '../home/Home.scss';

.bookDetail{
    width: 70%;
    margin-left: 20%;
    margin-top: 40px;

    &__title{
        font-size: 30px;
        font-weight: bold;
    }

    &__url,
    &__reviewer,
    &__detail,
    &__review {
        font-size: 20px;
        margin-left: 60px;
        margin-bottom: 30px;
        overflow-wrap: break-word;
    }
}

.error-massage{
    color: #ff3333;
}

.comment_list{
    @extend .Book__list--link;
    font-size: 20px;
    height: 100%;
    background-color: aliceblue;
}
