@charset "utf-8";
@use '../home/Home.scss';

.hot_review_component {
    @extend .float_page;
    @media screen and (min-width: 375px) and (max-width: 576px) {
      margin-left: 50px;
      width: 80%;
    }
  
    @media screen and (min-width: 576px) and (max-width: 800px) {
      margin-left: 80px;
      width: 80%;
    }
  
    @media screen and (min-width: 800px) and (max-width: 950px) {
        margin-left: 10px;
        width: 70%;
    }
  
    @media screen and (min-width: 950px) and (max-width: 1200px) {
        margin-left: 10px;
        width: 60%;
    }
  
    border-radius: 3%;
    width: 400px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

.hot_review_title {
  font-size: 25px;
  font-weight: bold;
  padding: 0 15%;
}