@charset "utf-8";
@use '../home/Home.scss';

.input_title,
.input_url,
.title,
.url {
  width: 500px;
  margin-left: 100px;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.book_operation {
  padding-top: 30px;
}

.float_component {
  @extend .float_page;
  width: 700px;
  margin-left: 30%;
  margin-top: 40px;
  border-radius: 3%;
}

.input_detail,
.input_review,
.detail_info,
.review {
  width: 500px;
  height: 100px;
  margin-left: 100px;
  font-size: large;
  margin-bottom: 25px;
}

.checkbox {
  margin-left: 15%;
}
