@charset "utf-8";

.input_title,
.input_url{
    width: 100%;
    font-size: large;
    height: 30px;
    margin-bottom: 25px;
}

.input_detail,
.input_review{
    width: 100%;
    height: 100px;
    font-size: large;
    margin-bottom: 25px;
}
