@charset "utf-8";
@use '../home/Home.scss';

.user_edit_h1 {
  text-align: center;
}

.update {
  @extend .float_page;
  height: 50%;
  width: 30%;
  border-radius: 3%;
  display: block;
  margin: 50px 30% 0 35%;

  &__form {
    margin: 25px 0;
    color: #555555;

    &--name {
      width: 50%;
      font-size: large;
      height: 30px;
      margin-bottom: 25px;
    }

    &--button {
      background-color: #242f9b;
      color: #ffffff;
      width: 100px;
      height: 40px;
      border-radius: 5px;
      margin-left: 15%;
      cursor: pointer;
    }
  }
}

.page {
  @extend .page;
}

.edit_user_float_page {
  padding-top: 50px;
  padding-left: 150px;
}

.error-message {
  color: #ff3333;
}

.icon_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
