@charset "utf-8";
@use '../header/header.scss';

.input_comment {
  width: 70%;
  height: 100px;
  margin-left: 60px;
  font-size: 20px;
}

.user_comment {
  margin: 20px 10px;
  white-space: normal;
  width: 90%;
  word-wrap: break-word;
}

.comment_button {
  width: 80px;
  height: 40px;
  margin-left: 60px;
}

.comment_userIcon {
  @extend .userIcon;
  position: relative;
  top: 5px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.h2_comment {
  margin-left: 60px;
}

.likes {
  margin-left: 5px;

  &-icon {
    cursor: pointer;
  }

  &-count {
    position: relative;
    left: 5px;
    bottom: 4px;
  }
}

.reviewer {
  position: relative;
  left: 3px;
  top: 1px;
}

.comment_list {
  list-style-type: none;
  border: solid;
  width: 0%;
  height: 100%;
  margin-left: 30px;
  font-size: 20px;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  color: #000000;
}

.comment-pagenation {
  margin-left: 30%;

  &__button {
    height: 50px;
    width: 100px;
  }
}

.comment_operation_container {
  float: right;
  margin-right: 10px;
}

.comment_operation {
  font-size: 15px;
  margin-right: 5px;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.edit_comment {
  @extend .input_comment;
  width: 90%;
  margin-left: 10px;
}

.edit_button {
  width: 50px;
  height: 30px;
  margin-left: 5px;
}

.cancel_button {
  width: 90px;
  height: 30px;
  margin-left: 10px;
}

.comment-error-message {
  color: #ff3333;
  margin-left: 100px;
}
