@charset "utf-8";
@use '../home/Home.scss';

.error-page {
  @extend .page;
}

.error-page_float {
  @extend .float_page;
  width: 600px;
  height: 500px;
  border-radius: 3%;
  @media screen and (min-width: 375px) and (max-width: 400px) {
    margin-left: 5%;
    width: 90%;
  }

  @media screen and (min-width: 400px) and (max-width: 700px) {
    margin-left: 10%;
    width: 80%;
  }

  @media screen and (min-width: 700px) and (max-width: 800px) {
    margin-left: 10%;
  }

  @media screen and (min-width: 800px) and (max-width: 900px) {
    margin-left: 20%;
  }

  margin-left: 30%;
  margin-top: 100px;
}

.error-page_message {
  position: relative;
  top: 100px;
  left: 10%;
  width: 80%;
  word-wrap: break-word;
  font-size: 20px;
}

.navigete-login {
  background-color: #242f9b;
  color: #ffffff;
  width: 200px;
  height: 80px;
  font-size: 20px;
  border-radius: 5px;

  @media screen and (min-width: 375px) and (max-width: 500px) {
    margin-left: 20%;
  }

  margin-left: 30%;
  margin-top: 200px;
  cursor: pointer;
}
