@charset "utf-8";

.Login {
  width: 500px;
  @media screen and (max-width: 550px) {
    width: 300px;
  }
  margin: 0 auto;
}

.Login-form {
  margin: 25px 0;
}

.email-label,
.password-label {
  color: #555555;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.Login-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-left: 40%;
  cursor: pointer;
}

.error-message {
  color: #ff3333;
}
